<div class="card h-100">
  <img src="{{this.photo}}" class="card-img-top" alt="...">
  <div class="card-body">
    <h5 class="card-title">{{this.name}} {{this.lastName}}</h5>
    <p class="card-text">{{this.team}}</p>
  </div>
</div>